<% include header %>
<div class="container">
<div class="row">
<div class="col-xs-8">
	<h3> Title: <%= Title %> </h3>
	<h3> Year: <%= Year %> </h3>
	<h3> Genre: <%= Genre %> </h3>
	<h3> Actors: <%= Actors %> </h3>
	<h3> TOMATOES: <%= tomatoMeter %> </h3>
</div>
	<div class="col-xs-4"><img src=<%= Poster %>></div>
</div>

</div>
<% include footer %>