<% include header %>
<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Watch List!</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<script src="/script.js"></script>
</head>
<body> -->
<div class="container">
<div class="row">
<div class="col-xs-8">
	<h3> Title: <%= data.Title %> </h3>
	<h3> Year: <%= data.Year %> </h3>
	<h3> Genre: <%= data.Genre %> </h3>
	<h3> Actors: <%= data.Actors %> </h3>
	<h3> Director: <%= data.Director %></h3>
	<h3> Writer(s): <%= data.Writer %></h3>
	<h3> TOMATOES: <%= data.tomatoMeter %> </h3>
	
	<table class="table table-bordered">
		<caption><h1 class="text-center">comments (<%=comment.length%>)</h1></caption>
		<thead>
			<tr>
				<th class="text-center"></th>
				<th class="text-left">comment</th>
			</tr>
		</thead>
		<tbody>
	<% for (var i = 0; i < comment.length; i++) { %>
	<tr>
		<td></td>
		<td><p> <%= comment[i].content %> </p></td>
	</tr>
	<% } %>
		</tbody>
	</table>
	
	<a href='#' data-id="<%= data.imdbID %>" data-title="<%= data.Title %>" data-year="<%= data.Year %>" class="btn btn-primary addThis"><span class="glyphicon glyphicon-plus"></span></a>
</div>
	<div class="col-xs-4"><img src=<%= data.Poster %>></div>
</div>
	
	<form action="/comment" method="post">
	<input type="hidden" value="<%= data.imdbID %>" name="imdbCode">
	<textarea name="comment" rows="5" cols="40"></textarea><br>
	<input type="submit" value="comment" class="btn btn-primary" id="comment">
	</form>

</div>
<% include footer %>