<% include header %>
<div class="container text-center">
	<h1> Search Results </h1>
	<% for(var i=0; i<stuff.Search.length; i++) { %>
	<div class="row text-center">
		<form action="/browse" method="post">
			<a href="/movies/<%= stuff.Search[i].imdbID %>"><%= stuff.Search[i].Title %> </a>
			<a href='#' data-id="<%= stuff.Search[i].imdbID %>" data-title="<%= stuff.Search[i].Title %>" data-year="<%=stuff.Search[i].Year %>" class="btn btn-primary addThis"><span class="glyphicon glyphicon-plus"></span></a>
		</form> 
	</div>
</div>

	<% } %>

	
<% include footer %>